<div class="mainContent">
  <div class="grid">
    <h2 class="largeHeader">Sign up</h2>
    <p class="centeredDescription col_4">Already signed up? You can <a href="">log in here.</a></p>
    <div class="col_1">
      <form class="UserForm">

        <%= form_with(model: user, local: true) do |form|%>
            <% if user.errors.any? %>
            <div id="error_explanation">
            <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
<% end %>
<!-- 
        <label for="I am a">I am a</label>
        <input type="radio" name="user[gender]" value="Professional" checked> Professional
        <input type="radio" name="user[gender]" value="Student">Student<br><br> -->

        <div class="form-group">
        <label for="name">Full name: </label>
        <input class="shortInput" form-control name="user[name]" value="<%= @user.name%>" id="name" type="text" placeholder="Enter full name"></div>

        <div class="form-group">
        <label for="email">Email:</label>
        <input class="shortInput" type="email" class="form-control" id="email" value="<%= @user.email%>" placeholder="Enter email" name="user[email]"></div>

        <div class="form-group">
        <label for="password">Password: </label>
        <input class="shortInput" id="password" name="user[password]" type="password" value="<%= @user.password%>" placeholder="Enter password" ></div>

        <div class="form-group">
        <label for="sel1">Gender:</label>
        <select class="shortInput" name="user[gender]" id="sel1" placeholder="Select Gender">
          <option>Male</option>
          <option>Female</option>
        </select></div>

        <div class="form-group">
        <label for="company">Company:</label>
        <input class="shortInput" id="company" type="company" name="user[company]" value="<%= @user.company%>" placeholder="Enter company" ></div>

        <div class="form-group">
        <label for="skills">Skills I Know: </label>
        <input class="shortInput" id="skills" type="skills" name="user[skills]" value="<%= @user.skills%>" placeholder="Enter your skills"></div>

        <div class="form-group form-check">
        <label class="form-check-label">
        <input class="form-check-input" type="checkbox" name="remember"> By signing up, you agree to our Terms and conditions
        </label>
        </div>

        <button type="submit" class="btn btn-primary">Signup</button>
</body>
</html>

<% end %>